LANGFUSE_PUBLIC_KEY=
LANGFUSE_SECRET_KEY=
LANGFUSE_HOST=
SOER_LOGIN=
SOER_PASSWORD=
ONYX_VERSION=

# Infrastructure Overrides
OPENSEARCH_ADMIN_PASSWORD=StrongPassword123!
ONYX_BACKEND_IMAGE=
ONYX_WEB_SERVER_IMAGE=
IMAGE_TAG=latest
DOCKER_SOCK_PATH=/var/run/docker.sock
